{{>includes/header}}
<html xmlns:th="http://www.thymeleaf.org">
<h1>Article Submission</h1>
<p>Copy and paste your article into the space below.</p>
<form class="ui form" th:action="@{/submit-Submitter}"
      th:object="${submission}" method="post">
  <div class="field">
    <label>Article</label>
    <textarea type="text" th:field="*{article}"></textarea>
  </div>
  <div class="field">
    <label>Title</label>
    <input type="text" th:field="*{name}" placeholder="Title">
  </div>
  <div class="field">
    <label>Author</label>
    <input type="text" th:field="*{author}" placeholder="Author">
  </div>
  <button class="ui button" type="submit">Submit</button>
</form>
</html>
{{>includes/footer}}
